 * {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 14pt;
}


body {
  background-color: lightgray;
  margin: auto;
  padding: auto;
  width: 100%;
  height: 100%;
}
.app {
  padding-bottom: auto;
}

.common-header {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.home, .questions {
  box-sizing: border-box;
  background-color: whitesmoke;
  width: 80%;
  text-align: center;
  margin: 20px auto;
  padding: 60px;
  border-radius: 6px;
  box-shadow: 1px 1px 1px 0 #888888;
}
